.contact-page {
    background-image: linear-gradient(to right, rgba(255, 0, 255, 0.2) 0%, rgba(255, 0, 255, 0.6) 100%), url('../../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    flex-direction: column;
    height: 100vh;
}

.contact-page::-webkit-scrollbar {
    display: none;
}

.contact-page .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
    background: rgba(231, 214, 255, 0.6);
    flex: 0 0 9%;
}

.contact-page .navbar .logo {
    padding-top: 0.5%;
    flex: 0 0 20%;
}

.contact-page .navbar .logo img {
    width: 20%;
}

.contact-page .navbar .search-field {
    flex: 1;
    display: flex;
    justify-content: center;
}

.contact-page .navbar .input-box {
    display: flex;
    width: 100%;
    position: relative;
}

.contact-page .navbar .input-box input {
    padding: 12px 16px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    color : #4B5563;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
}

.contact-page .navbar .lists {
    flex: 0 0 50%;
    display: flex;
    justify-content: flex-end;
    margin-right: 1%;
}

.contact-page .navbar .lists ul {
    display: flex;
    list-style: none;
    gap: 3rem;
    margin: 0;
    padding: 0;
}

.contact-page .navbar .links {
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    font-size: 30px;
}

.contact-page .account-info-box {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(12px);
    border-radius: 20px;
    padding: 30px 0 30px 30px;
    width: 35%;
    margin: 5% auto auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.2);
}

.contact-page .account-title {
    font-size: 28px;
    color: white;
    margin-bottom: 20px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.contact-page .info-row {
    display: flex;
    align-items: center;
    width: 100%;
    height: 15%;
    margin: 2.5% 0;
    background: transparent;
    overflow: hidden;
}

.contact-page .info-icon {
    flex: 0 0 35%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: transparent;
    color: white;
    font-size: 36px;
    text-align: center;
}

.contact-page .info-row input {
    flex: 0 0 65%;
    border: none;
    outline: none;
    font-size: 20px;
    text-align: center;
    background: white;
    color: #4B5563;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px 0 0 12px;
    padding: 2.5%;
}


